<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height: 100%; width: 100%; margin: 0px;">
<body style="height: 100%; width: 100%; margin: 0px;">
	<table id="container" style="height: 100%;
	width: 100%;
	background-image: url('http://imageshack.us/a/img443/8517/p24.png');
	background-repeat: repeat;">
	<tbody>
		<tr>
			<td style="width: 100%; height: 50px; position: absolute; background-image: url('http://imageshack.us/a/img109/9071/ynwn.png'); min-width: 400px;
			font-size: 12px;
			color: #ffffff;
			font-weight: bold;
			text-shadow: 1px 1px 1px rgb(0, 0, 0);">
			  <div style="float: left"><img src="http://imageshack.us/a/img96/7982/epsp.png" alt="Logo" /></div>
			   <div style="float: left; vertical-align:top;">&trade;</div>
				<div style="float: clear"></div>				
			</td>
		</tr>
		<tr>
			<td style="width: 100%; height: 100%; min-height: 200px;" align="center">
			<div style="height: 250px">
				<p>Welcome to Quakd ${bean.name}. We are excited to have you join us, get ready for discounts and blah blah. Please
				click the link below to activate your account. 
				</p>
				<a href="${bean.url}">Click here to activate your account</a>
			</div>		
			</td>
		</tr>
		<tr>
			<td style="width: 20px;
	background-image: url('http://imageshack.us/a/img593/7785/c2tp.png');
	background-repeat: repeat;					
				font-size: 12px;
				color: #ffffff;
				font-weight: bold;
				text-shadow: 1px 1px 1px rgb(0, 0, 0);" align="right">
				&copy;2013 QUAKD LLC
			</td>
		</tr>
	</tbody>
	</table>
</body>
</html>